<mat-toolbar color="primary">
    <span>Panel Administrativo</span>
    <button mat-button routerLink="/"  class="ms-3">Inicio</button>
    <button mat-button routerLink="/admin/book/list"  class="ms-3">Administrar Libros</button>
    <button mat-button routerLink="/admin/user/list"  class="ms-3">Administrar Usuarios</button>
    <span class="spacer"></span>

    <button mat-button [mat-menu-trigger-for]="userMenu">
        <mat-icon>account_circle</mat-icon> Leonardo
    </button>

    <mat-menu #userMenu="matMenu"> b
        <button mat-menu-item>
            <mat-icon>logout</mat-icon>Cerrar Sesión
        </button>
    </mat-menu>
</mat-toolbar>
<div class="pt-5 container">
    <router-outlet></router-outlet>
</div>